<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
	<script src="/h/static/assets/static/js/jquery-min.js"></script>
	<script src="/h/static/assets/static/js/jquery.i18n.properties.js"></script>
	<!-- <script src="/h/static/assets/static/js/vconsole.min.js"></script> -->
</head>
<body>
    <div class="hpcenter">
        <div ref="content" class="content">
            <div class="list-wrap">
                <ul class="list">
                    <li>
                    Terms Of Use
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li>
                    Privacy Policy
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li>
                    Safety Tips
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <!-- 暂时隐藏 -->
                    <li style="display: none;">
                    FAQ
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li>
                    Report Abuse
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li>
                    About Us
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                    <li>
                    Contact Us
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>