<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/h/static/assets/static/js/jquery-min.js"></script>
    <script src="/h/static/assets/static/js/jquery.i18n.properties.js"></script>
</head>
<body>
    <div class="member member-bg">
        <h3 class="member-top-text comm-pd comm-mr">Benefits to Activate Prime Membership:</h3>
        <div class="member-wrap">
            <div class="member-line comm-pd">
                <h4 class="member-item member-tit">Member Type</h4>
                <h4 class="member-item member-tit">Prime Member</h4>
                <h4 class="member-item member-tit">Free Member</h4>
            </div>
            <div id="memberCon">
            </div>
        </div>
        <div class="member-btn">
            <button id="toPurchaseCredits">Go to Purchase Credits</button>
        </div>
    </div>
</body>
</html>