<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <script src="/h/static/assets/static/js/jquery-min.js"></script>
    <script src="/h/static/assets/static/js/jquery-query.js"></script>
    <!-- <script src="/h/static/assets/static/js/vconsole.min.js"></script> -->
</head>
<body>
    <div class="privacy-policy help-bg">        
        <div class="help-content">
            <div id="privacyPolicy"></div>
            <p style="padding-bottom: 20px;margin-top: 15px;margin-left:8px"><em data-site="siteName">{{$SiteName}}</em>.com</p>
    </div>
  </div>
</body>
</html>