<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <script src="/h/static/assets/static/js/jquery-min.js"></script>
    <script src="/h/static/assets/static/js/jquery-query.js"></script>
    <!-- <script src="/h/static/assets/static/js/vconsole.min.js"></script> -->
</head>
<body>
    <div class="tips help-bg">
        <div class="help-content">
            <p class="content-txt"><em data-site="siteName">{{$SiteName}}</em> is simply a social networking platform for adults with similar thoughts to interact. <em data-site="siteName">{{$SiteName}}</em> is always and only a platform for communication. We hope to make online dating enjoyable for all our members, and have been making great efforts in providing security environment for users. Risks always exist in online dating. As stated in our Terms of Use, we do not pre-approve any users, nor do we conduct background or criminal checks of any nature, so you must be responsible for your interactions with other users of our service, safely. To help you be on the safe side, we have complied a list of tips below. </p>
            <div id="Tips"></div>
            <p style="padding-bottom: 20px;margin-top: 15px;margin-left:8px">Wish you a nice date on <em data-site="siteName">{{$SiteName}}</em>.</p>
    </div>
  </div>
</body>
</html>