<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
	<script src="/h/static/assets/static/js/jquery-min.js"></script>
	<script src="/h/static/assets/static/js/jquery.i18n.properties.js"></script>
</head>
<body>
    <div class="success-case">
		<!-- <div class="photo-popup" v-if="popupVisible"> -->
			<!-- <mt-popup class="popup" v-model="popupVisible" popup-transition="popup-fade" :closeOnClickModal="false"> -->
				<!-- <loading v-show="isLoading"></loading> -->
				<!-- <div class="inner"> -->
					<!-- <div class="indicators">1/11</div> -->
					<!-- <mt-swipe ref="swipe" :auto="0" :continuous="false" :defaultIndex="activeIndex" :show-indicators="false" @change="swipePhotos" class="swipe" id="swipe"> -->
						<!-- <mask-tips title="Loading..." bgImage='loading.gif' class="mask-tips" v-show="!ladyInfo.attachList.length"></mask-tips> -->
						<!-- <mt-swipe-item v-for="(item, index) in swipeImageList" class="swipe-item" :key="index"> -->
							<!-- <img ref="swipeImage" class="swi-photos" :src="item" /> -->
						<!-- </mt-swipe-item> -->
					<!-- </mt-swipe> -->
				<!-- </div> -->
			<!-- </mt-popup> -->
			<!-- <span class="close-btn" @click="closePopup">X</span> -->
		<!-- </div> -->
		<!-- <big-img ref="bigImg" :imgSrc="imgSrc"></big-img>
		<VideoBox :videoSrc="videoPlaySrc" :showVideo.sync='isShowVideo'></VideoBox> -->
	</div>
</body>
</html>