<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <script src="/h/static/assets/static/js/jquery-min.js"></script>
    <script src="/h/static/assets/static/js/jquery-query.js"></script>
    <!-- <script src="/h/static/assets/static/js/vconsole.min.js"></script> -->
</head>
<body>
    <div class="terms-of-use help-bg">        
        <div class="help-content">
            <div id="termsOfUse"></div>
            <div class="buttomTips">Should you find any questions or concerns about these Terms, our Privacy Policy, the practices of <em data-site="siteName">{{$SiteName}}</em>, or your dealings with us, you may contact a representative of our company by using the Contact Form of <em data-site="siteName">{{$SiteName}}</em>.com . <br><br>© <em data-site="siteName">{{$SiteName}}</em>.com <br>All rights reserved
                <br><br><br>
        </div>
    </div>
  </div>
</body>
</html> 