<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/h/static/assets/static/js/jquery-min.js"></script>
    <script src="/h/static/assets/static/js/jquery.i18n.properties.js"></script>
    <!-- <script src="/h/static/assets/static/js/vconsole.min.js"></script> -->
</head>
<body>
    <div class="vch vch-bg">
        <div class="vch-banner">
            <img src="<%=require('../assets/image/VolumeExample/what_v_banner.jpg')%>" alt="">
        </div>
        <div class="vch-wrap">
            <div id="vchContent">
                
            </div>

            <div class="vch-tip">
                <div class="vch-tip-item">
                    <h4 class="vch-tip-tit">Chat:</h4>
                    <div class="vch-tip-img">
                        <img src="<%=require('../assets/image/VolumeExample/chat.jpg')%>" alt="">
                    </div>
                </div>
                <div class="vch-tip-item">
                    <h4 class="vch-tip-tit">Letter:</h4>
                    <div class="vch-tip-img">
                        <img src="<%=require('../assets/image/VolumeExample/letter.jpg')%>" alt="">
                    </div>
                </div>
                <div class="vch-tip-item">
                    <h4 class="vch-tip-tit">Gift&Flowers:</h4>
                    <div class="vch-tip-img">
                        <img src="<%=require('../assets/image/VolumeExample/gift.jpg')%>" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>