<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/h/static/assets/static/js/jquery-min.js"></script>
    <script src="/h/static/assets/static/js/jquery.i18n.properties.js"></script>
</head>
<body>
    <div class="public-active">
    <div class="banner"></div>
    <section class="life">
      <div class="titles">
        <h1 class="title" data-locale="love">LOVE</h1>
        <h2 class="sub-title" data-locale="OURPROJECTORIGIN">OUR PROJECT ORIGIN</h2>
      </div>
      <article class="content"><em data-site>{{$SiteName}}</em> puts the best effort in bringing people together. We try to shorten distances between people’s mind and the way to love. However, we should never forget we are the lucky ones on earth who could freely surf in around and search for things and do whatever we want. For those who are in needs and seeking for help, <em data-site>{{$SiteName}}</em> always keep an eye on them.</article>
    </section>

    <section class="live">
      <div class="titles">
        <h1 class="title" data-locale="life">LIFE</h1>
        <h2 class="sub-title" data-locale="OURPROJECTMISSION">OUR PROJECT MISSION</h2>
      </div>
      <article class="content" data-locale="content">
        <em data-site>{{$SiteName}}</em> hopes to share love and caring to everyone, especially to those who are lacking something in their life at the moment. We believe that a little help to them, could possibly bring a great change to their life. And hence, we are here to announce that we are promoting our continuous charity project “A Little More Of...”
        <br/><br/>
        Poor ones lacking life essentials, students in suburbs longing for educations to obtain a better life... They are all on <em data-site>{{$SiteName}}</em>’s list for our project. We may not be able to launch big scheme like other charity organizations, <i style="font-size: 14px; font-weight: bold;font-style:italic;">but we are here to promise,we will do the best we could like how we run our site!</i>
        <br/><br/>
        “Thank you <em data-site>{{$SiteName}}</em>! You are so good, we love you!”<br/>
        We were deeply moved by children's gratitude after <em data-site>{{$SiteName}}</em>'s first attempt to help those in need. The success of this action is the beginning of countless projects in the near future, which is also a good vision of our enterprise. Language barrier is not a problem. Smile can convey each other's feelings.

      </article>
      <div>
        <img src="<%= require('../assets/image/we-share/photo_3.jpg')%>" width="100%">
      </div>
      <ul class="photos">
      </ul>
    </section>

    <div class="video">
      <div class="titles">
        <h1 class="title" data-locale="video">VIDEO</h1>
        <h2 class="sub-title" data-locale="NONPROFITVIDEOS">NONPROFIT VIDEOS</h2>
      </div>
      <div class="content" id="video">
        <i class="play-icon"></i>
      </div>

      <div class="bottom-title">
        <h1 class="title1" data-locale="TIBETTRIP">TIBET TRIP</h1>
        <h2 class="title2" data-locale="Helpmorepeople">Help more people</h2>
      </div>
    </div>

    <div class="say">
      <div class="titles">
        <h1 class="title" data-locale="world">World</h1>
        <h2 class="sub-title" data-locale="OurInvitationtoYOU">Our Invitation to YOU</h2>
      </div>

      <article class="content" data-locale="YOUhavebeenpart">
        YOU have been part of us and we are so delighted to take this honour to invite you joining our project to offer a little more of help to those we have been seeking for one. Stay tuned on <em data-site>{{$SiteName}}</em> and stick to our updates, and we will work this out together to bring a little more of warmness to our world :)
      </article>
    </div>

    <!-- video -->
    <!-- <div id="videoCon">
        
    </div> -->
  </div>
</body>
</html>